body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('roses.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
}

#pictureContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Make sure it's above other elements */
}

#pictureContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

#container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e44d26;
    font-weight: bold;
}

.response-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

/* Increase the size of radio buttons */
input[type="radio"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin-right: 5px; /* Add some spacing between the radio button and label */
}

button {
    background-color: black;
    color: #fff;
    padding: 12px 24px; /* Increase the padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: red;
}

#loginPage,
#messagePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usernameDisplay {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px; /* Increase the margin for better spacing */
}

#message {
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 30px; 
    animation: swell 1s ease-in-out;
}

@keyframes swell {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.animate-swell {
    animation: swell 1s ease-in-out;
}


#proceedButton {
    background-color: red; /* Adjust the color as needed */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: none; /* Initially hide the proceed button */
}

#proceedButton:hover {
    background-color: darkgray; /* Darker shade on hover */
}
